@model ContactsModel
@{
	ViewData["Title"] = "Delete";
}
<div class="text-center">
	<h3>Delete @Model.Name?</h3>
	<p>This action cannot be undone.</p>
</div>
<br />
<div style="display: flex; justify-content: center; gap: 5px;">
	<a role="button" class="btn btn-primary" asp-controller="Home" asp-action="DeleteInDb" asp-route-id="@Model.Id">Yes</a>
	<a role="button" class="btn btn-secondary" asp-controller="Home" asp-action="Index">No</a>
</div>